<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Cred.IT</title>
  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='css/custom-responsive-styles.css')}}" rel="stylesheet" type="text/css">
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/all-plugins.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/plugins-activate.js')}}"></script>
</head>

<body id="page-top">
  <!-- Navigation -->
  <div class="logo">
    <i class="fa fa-dollar" aria-hidden="true"><span>Cred.IT</span></i>
  </div>
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#Header"></a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}#About">About</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}#Services">Services</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}#SiteMap">SiteMap</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="{{ url_for('home') }}#Contact">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- Header Starts -->
  <section id="Banner" class="content-section">
    <div class="cont container content-wrap text-center">
      <h2>Users</h2>
      <br><br><br>
      <table id="table1" class="table table-striped scrollable">
        <thead class="multi">
          <tr>
            <th class="multi">Name</th>
            <th class="multi">Age</th>
            <th class="multi">Email</th>
            <th class="multi">Credits</th>
          </tr>
        </thead>
        <tbody class="multi">
          {%for i in range(1,userlist[0]+1)%}
          <tr>
            <td class="multi"><a class="anchor-color" href={{url_for('viewuser', uid=userlist[i][0])}}>{{userlist[i][1]}}</a></td>
            <td class="multi">{{userlist[i][2]}}</td>
            <td class="multi">{{userlist[i][3]}}</td>
            <td class="multi">{{userlist[i][4]}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
    <div class="overlay"></div>
  </section>
  <!-- Header Ends -->

  <footer class="footer text-center">
    <div class="container">
      <p class="text-muted small mb-0">Copyright © Cred.IT 2020</p>
      <p class="text-muted small mb-0">Developed by <a href="https://samarmusthafa2014.wixsite.com/home" target="_balnk">Samar Musthafa</p>
    </div>
  </footer>
</body>

</html>
